html {
}

.content{
  margin: 10px;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.menu{
  background-color: #f5f5f5;
  border-radius: 6px;
  width: 275px;
  padding: 5px;
  padding-left: 10px;
}

.main-page{
  width: 700px;
  left: 300px;
  top: 0px;
  margin-left: 150px;
  overflow-y: scroll;
  height: 100%;
}

.error{
  color: red;
  text-align: center;
}

#divLoading
{
  text-align: center;
  border-radius: 6px;
  /* display: block; */
  position: absolute;
  z-index: 100;
  background-image: url(http://loadinggif.com/images/image-selection/3.gif);
  /*background-color: rgb(153, 153, 153);*/
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: center;
  left: 420px;
  /* bottom: 0; */
  /* right: 0; */
  top: 140px;
  height: 110px;
  width: 730px;
}
#loadinggif
{
  left : 50%;
  top : 50%;
  position : absolute;
  z-index : 101;
  width : 32px;
  height : 32px;
  margin-left : -16px;
  margin-top : -16px;
}

.site-footer{
  padding: 10px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.menu-divider{
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 12px;
  margin-bottom: 12px;
}

.input-group-addon{
  min-width: 116px;
  text-align: left !important;
}

#regionSize{
  width: 50px;
  margin-left: 28px;
}

#randomSamples{
  width: 50px;
  margin-left: 10px;
}